{ 
  "env": { 
    "browser": true, 
    "es2021": true 
  }, 
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/recommended",
    "plugin:prettier/recommended",
    "prettier"], 
  "parserOptions": { 
    "ecmaVersion": 12, 
    "sourceType": "module", 
    "ecmaFeatures": { 
      "jsx": true 
    } 
  }, 
  "plugins": ["react", "react-hooks", "import"], 
  "rules": { 
    "react/prop-types": "off",
    "import/no-unresolved": 0, 
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }], 
    "import/prefer-default-export": 0, 
    "import/order": [ 
      1, 
      { 
        "alphabetize": { 
          "caseInsensitive": true, 
          "order": "asc" 
        }, 
        "pathGroupsExcludedImportTypes": ["react"], 
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"], 
        "newlines-between": "always",
        "pathGroups": [
          {
            "group": "external",
            "pattern": "react",
            "position": "before"
          },
          {
            "group": "internal",
            "pattern": "assets/**",
            "position": "after"
          },
          {
            "group": "internal",
            "pattern": "components/**",
            "position": "after"
          },
          {
            "group": "internal",
            "pattern": "pages/**",
            "position": "after"
          },
          {
            "group": "internal",
            "pattern": "styles/**",
            "position": "after"
          }
        ]
      } 
    ] 
  } 
} 