@import "styles/color";

.wrapper {
    box-sizing: border-box;
    width: 200px;
    height: 500px;

    & > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.link {
    text-decoration: none;
    background: $background;
    color: $text;
    padding: 5px 10px;
    font-size: 20px;

    &:hover {
        color: $hover;
    }
}